@model IEnumerable<Vehicle_Insurance_Management.Models.SignUp>

@{
    Layout = "_Admin_Layout";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">User List</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.User_Name)</th>
                                    <th>@Html.DisplayNameFor(model => model.User_Email)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    @foreach (var user in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => user.User_Name)</td>
                                            <td>@Html.DisplayFor(modelItem => user.User_Email)</td>
                                            <td>
                                                <form asp-action="signUpDelete" asp-controller="Admin" method="post" onsubmit="return confirm('Are you sure you want to delete this user?');">
                                                    <input type="hidden" name="id" value="@user.Id" />
                                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="3" class="text-center">No users found.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
